<div class ="container">
<nav class="navbar navbar-transparent">
<div class="designerHeader">
<h1> DESIGNER</h1>
</div>
</nav>
<div class="row">
<div class="col-md-6">
<p>DESIGNER NAME: $designer.getName()</p>
<br>
<br>
<img src ="/images/designer.png"/>
</div>

<div class="col-md-6">
<div class="col-md-3">
$designer.getClothes()
</div>

</div>

</div>

</div>